<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Cadena de conexión por defecto (sin encriptar) -->
		<add key="ConexionBD" value="Server=localhost\SQLEXPRESS;Database=Capturador;User Id=sa;Password=123;TrustServerCertificate=True;" />

		<!-- Cadena de conexión encriptada (se genera automáticamente) -->
		<!-- <add key="ConexionBDEncriptada" value="" /> -->

		<!-- Configuraciones generales -->
		<add key="NombreAplicacion" value="Indexador Automático de Planos" />
		<add key="Version" value="1.0.0" />
	</appSettings>
</configuration>
